* {
    margin: 0;
    padding: 0;
}

html {
	overflow-x: hidden;
}

main {
    padding: 1rem;
    height: 100%;
}

body {
    background: #F0F0F0;
}

.wrap {
	height: 300vh;
}

/* 스크롤 */

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-thumb {
	height: 8%;
	background: #4F709C;
	border-radius: 10px;
}

body::-webkit-scrollbar-track {
	background: #F0F0F0;
}